.shopping__cart{
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;

    &__left{
        width: 650px;
    }    

    &__form{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__item{
        display: flex;
        height: 300px;
        box-shadow: 17px 19px 24px $mainShadow;
        transition: 0.8s;
        &:hover{
            transform: scale(1.05);
            transition: 0.8s;
        }
    }

    &__img{
        width: 40%;
    }

    &__info{
        padding: 25px;
        width: 60%;
        position: relative;
    } 

    &__header{
        display: inline-block;
        font-size: 24px;
        line-height: 29px;
        color: $mainColor;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover{
            color: $fourthColor;
            cursor: pointer;
            transition: 0.5s;
            transform: scale(1.05);
        }
    }

    &__heading{
        margin-top: 16px;
        font-size: 24px;
        line-height: 29px;
        color: $mainColor;
        text-transform: uppercase;
    }

    &__descriptions{
        margin-top: 32px;
    }

    &__text{
        margin-top: 10px;
        font-size: 22px;
        line-height: 26px;
        color: $mainColor;
        &_color{
            color: $secondColor;
        }
    }

    &__quantity{
        font-size: 18px;
        line-height: 22px;
        color: $mainColor;
        border: 1px solid $hrBorder;
        width: 35px;
        height: 35px;
        text-align: center;
        margin-left: 16px;
    }

    &__close{
        position: absolute; 
        top: 28px;
        right: 22px;
        cursor: pointer;
    }

    &__svg{
        width: 18px;
        height: 18px;
        transition: 0.5s;
        &:hover{
            fill: $secondColor;
            transition: 0.5s;
            transform: scale(1.3); 
        }    
    }

    &__block__buttons{
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
    }

    &__button{
        border: 1px solid $mainBorder;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $mainColor;
        width: 230px;
        height: 50px;
        background: $defaultBg;
        cursor: pointer;
        transition: 0.5s;
        text-transform: uppercase;
        &:hover {
            color: $defaultColor;
            background: $secondBg;
            border: none;
            transition: 0.5s;
            transform: scale(1.1);
        }    
    }

    &__right{
        width: 360px;
        &__form{
            &__top{
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
    
            &__bottom{
                padding: 25px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex-direction: column;
                min-height: 220px;
                margin-top: 56px;
                background: $cartFormBg;
            }
        }
        
        &__header{
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: $mainColor;
            text-transform: uppercase;
        }
    } 
    
    &__input{
        padding: 0 18px;
        width: 100%;
        height: 45px;
        border: 1px solid $mainBorder;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: $mainColor;
    }
   
    &__button__right{
        width: 102px;
        height: 36px;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        border: 1px solid $mainBorder;
        color: $mainColor;
        background: $defaultBg;
        cursor: pointer;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover{
            color: $defaultColor;
            background: $secondColor;
            border: 0;
            margin-left: 10px;
            transition: 0.5s;
            transform: scale(1.2);
        }
    }

    &__heading__buy, &__heading__total__buy{
        font-size: 14px;
        line-height: 13px;
        color: $mainColor;
        font-weight: 300;
        text-transform: uppercase;
        &_span{
            margin-left: 10px;
        }
    }

    &__heading__total__buy{
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        &_span{
            color: $secondColor;
        }
    }
    
    &__hr{
        width: 100%;
        height: 1px;
        background: $mainBg;
    }

    &__button__buy{
        width: 275px;
        height: 50px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $defaultColor;
        background: $secondBg;
        margin: 0 auto;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            transition: 0.5s;
            transform: scale(1.1);
        }
    }
} 