.breadcrumbs{
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 150px;
    background: $promoBg;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading{
        font-size: 24px;
        line-height: 29px;
        color: $secondColor;
        text-transform: uppercase;
    }

    &__right{
        display: flex;
        gap: 5px;
    }

    &__link{
        font-size: 14px;
        line-height: 17px;
        color: $mainColor;
        text-transform: uppercase;
        &:not(:last-child)::after{
            content: "/";
            margin-left: 5px;
        }
        &:last-child{
            font-weight: 700;
            color: $secondColor;
        }
        &:not(:last-child):hover{
            color: $thirdColor;
        }
    }
      
}


.product{
    &__menu{
        position: relative;
    }

    &__filter{
        position: absolute;
        padding: 16px;
        top: -10px;
        left: 0;
        z-index: 5;

        &[open]{
            width: 375px;
            background: $defaultBg;
            box-shadow: 6px 4px 35px $mainShadow;
        }

        &[open] &__main__header{
            color: $secondColor;
            fill: $secondColor;
        }

        &__main__header, &__header{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $mainColor;
            text-transform: uppercase;
            cursor: pointer;
            &_inner{
                padding: 10px;
                padding-left: 12px;
                border-left: 5px solid $fourthBorder;
                font-size: 14px;
                line-height: 17px;
            }
        }

        &__header{
            color: $fourthColor;
        }

        &__img{
            margin-left: 11px;
        }

        &:hover .product__filter__main__header{
            color: $secondColor;
            fill: $secondColor;
        }

        &__header:hover{
            color: $secondColor;
            border-left: 5px solid $secondBorder;
        }

        &__menu{
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;
            padding: 0 16px;
            font-size: 14px;
            line-height: 17px;
        }

        &__link{
            color: $mainColor;
            &:hover{
                color: $thirdColor;
            }
        }
  
    }

    &__filter__block__inner{
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__filter__inner[open]{
        .product__filter__header{
            color: $secondColor;
            border-left: 5px solid $secondBorder;
        }
    }

    &__hr{
        background: $productFilterBg;
        height: 1px;   
    }

    &__menu{
        display: flex;
        justify-content: center;
        gap: 28px;
        &__list{
            padding-bottom: 5px;
            position: relative;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: $mainColor;
            cursor: pointer;
            &::after{
                content: url('img/catalog/arrow.svg');
                margin-left: 10px;
            }
            &:hover .product__dropdown__menu{
                display: flex;
            }
        }
    } 

    &__dropdown__menu{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 10px;
        width: 80px;
        background: $defaultBg;
        box-shadow: 6px 4px 35px $mainShadow;
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 5;
        &__label{
            display: flex;
        }
        &__text{
            font-size: 14px;
            line-height: 16px;
            color: $mainColor;
        }
    }

    input{
        display: none;
    }
    
    .fake{
        position: relative;
        height: 16px;
        width: 16px;
        display: inline-block;
        border: 1px solid $mainBorder;
        margin-right: 8px;
        &::before{
            content: "*";
            font-size: 32px;
            position: absolute;
            top: 5px;
            left: 1px;
            opacity: 0;
            color: $secondColor;
        }
    }

    input:checked + .fake::before{
        opacity: 1;
    }
  
    &__paginations{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 48px auto 0;
        padding: 12px;
        width: 285px;
        border: 1px solid $paginationBorder;
        border-radius: 4px;

        &__link{
            font-size: 16px;
            line-height: 19px;
            color: $mainColor;
            &:hover{
                font-weight: 700;
                color: $secondColor;
            }
        }
    
        &__img:hover{
            fill: $secondColor;
        }
    }

}





